body {
    margin: 0;
}
.space {
    height: 100%;
    width: 100%;
    position: fixed;
    background: #232323;
}

.magnified-display {
    height: 300px;
    width: 300px;
    position: fixed;
    display: block;
    bottom: 0;
    left: 0;
    background: black;
    border-top: #a9a9a9 1px solid;
    border-right: #a9a9a9 1px solid;
    z-index: 10000;
    overflow: hidden;
}
.display-container {
    height: 100%;
    width: 100%;
}
.display-container.neutral {
    display: flex;
    justify-content: center;
    align-items: center;
}
.neutral > img.shuttle {
    width: 75%;
    height: 75%;
    animation-name: literally-shaking-and-crying;
    animation-duration: 0.25s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    z-index: 10000000;
}
@keyframes literally-shaking-and-crying {
    0% { transform: translate(1px, 1px); }
    10% { transform: translate(-1px, -2px); }
    20% { transform: translate(-3px, 0px); }
    30% { transform: translate(3px, 2px); }
    40% { transform: translate(1px, -1px); }
    50% { transform: translate(-1px, 2px); }
    60% { transform: translate(-3px, 1px); }
    70% { transform: translate(3px, 1px); }
    80% { transform: translate(-1px, -1px); }
    90% { transform: translate(1px, 2px); }
    100% { transform: translate(1px, -2px); }
}

.button {
    border-radius: 4px;
    background: #232323;
    color: white;
    border: 1px solid #494949;
    padding: 4px;
}
.button:hover {
    cursor: pointer;
    background: #282828;
    /*box-shadow: #494949 4px -4px 0 0;*/
    /*border: 1px solid #494949;*/
}
.button.sleep {
    position: fixed;
    bottom: 8px;
    right: 8px;
    font-size: 2em;
    z-index: 20000;
}

.orbit {
    position: fixed;
    border: solid 1px #ffffff;
    border-radius: 100%;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}
.mercury.orbit {
    width: calc(2 * 1 * 100vw / 9);
    height: calc(2 * 1 * 100vw / 9);
}
.venus.orbit {
    width: calc(2 * 2 * 100vw / 9);
    height: calc(2 * 2 * 100vw / 9);
}
.earth.orbit {
    width: calc(2 * 3 * 100vw / 9);
    height: calc(2 * 3 * 100vw / 9);
}
.mars.orbit {
    width: calc(2 * 4 * 100vw / 9);
    height: calc(2 * 4 * 100vw / 9);
}
.jupiter.orbit {
    width: calc(2 * 5 * 100vw / 9);
    height: calc(2 * 5 * 100vw / 9);
}
.saturn.orbit {
    width: calc(2 * 6 * 100vw / 9);
    height: calc(2 * 6 * 100vw / 9);
}
.uranus.orbit {
    width: calc(2 * 7 * 100vw / 9);
    height: calc(2 * 7 * 100vw / 9);
}
.neptune.orbit {
    width: calc(2 * 8 * 100vw / 9);
    height: calc(2 * 8 * 100vw / 9);
}
.pluto.orbit {
    width: calc(2 * 9 * 100vw / 9);
    height: calc(2 * 9 * 100vw / 9);
    border-style: dotted;
}

.planet {
    position: fixed;
    z-index: 200;
    border-radius: 100%;
    max-width: calc(100vw/9 - 8px);
    max-height: calc(100vw/9 - 8px);
}
.mercury.planet {
    width: 25px;
    height: 25px;
    background: #502b1e;
    transform: translate(-50%, -50%) rotate(30deg) translate(calc(1 * 100vw / 9), 0);
}
.venus.planet {
    width: 33px;
    height: 33px;
    background: #bb8b2b;
    transform: translate(-50%, -50%) rotate(70deg) translate(calc(2 * 100vw / 9), 0);
}
.earth.planet {
    width: 40px;
    height: 40px;
    background: #2c792c;
    transform: translate(-50%, -50%) rotate(60deg) translate(calc(3 * 100vw / 9), 0);
}
.mars.planet {
    width: 50px;
    height: 50px;
    background: #8d2525;
    transform: translate(-50%, -50%) rotate(20deg) translate(calc(4 * 100vw / 9), 0);
}
.jupiter.planet {
    width: 100px;
    height: 100px;
    background: #a5512a;
    transform: translate(-50%, -50%) rotate(37.5deg) translate(calc(5 * 100vw / 9), 0);
}
.saturn.planet {
    width: 80px;
    height: 80px;
    background: #a79a1a;
    transform: translate(-50%, -50%) rotate(5deg) translate(calc(6 * 100vw / 9), 0);
}
.uranus.planet {
    width: 40px;
    height: 40px;
    background: #b2e3e6;
    transform: translate(-50%, -50%) rotate(35deg) translate(calc(7 * 100vw / 9), 0);
}
.neptune.planet {
    width: 40px;
    height: 40px;
    background: #677da3;
    transform: translate(-50%, -50%) rotate(10deg) translate(calc(8 * 100vw / 9), 0);
}
.pluto.planet {
    width: 15px;
    height: 15px;
    background: lightslategray;
    transform: translate(-50%, -50%) rotate(17.5deg) translate(calc(9 * 100vw / 9), 0);
}

svg {
    z-index: 1;
    position: fixed;
    height: 100%;
    width: 100%;
}
svg > .path {
    z-index: 1;
}

.spaceship-indicator {
    width: 20px;
    height: 20px;
    background: white;
    position: fixed;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    animation-name: blink;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}
@keyframes blink {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    25% {
        transform: translate(-50%, -50%) scale(1);
    }
    75% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.score-indicator {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    margin: 4px;
}
.score {
    color: white;
    font-size: 2em;
    padding: 8px;
    background: #232323;
    border-radius: 8px;
    font-family: monospace;
}
